<h2>All Posts</h2>
{{#each posts as |post| }}
<a href="/post/{{post.id}}">
    <div class="card border-info border-2 rounded shadow-sm m-3 p-2">
        <div class="row mb-4 post">
            <h3 class="card-title" data-id="{{post.id}}">
                {{post.title}}
            </h3>

            <p class="card-text">
                {{post.content}}
            </p>
            <p class="card-subtitle">Created by {{post.User.name}} on {{post.date_created}}</p>

        </div>
    </div>
</a>
{{/each}}

