<div class="card border-info border-2 rounded shadow-sm m-3 p-2" data-id="{{post_id}}">
    <h2 class="card-title">{{title}}</h2>
    <p class="card-text">{{content}}</p>
    <p class="card-subtitle">Created by {{User.name}} on {{date_created}}</p>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Leave a Comment:</h3>

    <form class="form new-comment-form">
      <div class="form-group">
        <label for="comment-content">Comment</label>
        <textarea class="form-input" id="comment-content" name="comment-content"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" id="commentbtn">Post</button>
      </div>
    </form>
  </div>

{{#each Comment as |comment| }}
<div class="card border-info border-2 rounded shadow-sm m-3 p-2 comment">
    <p class="card-text">{{comment.content}}</p>
    <p class="card-subtitle">Commented by {{comment.user.name}} on {{comment.date_created}}</p>
</div>
{{/each}}

<script src="/js/comment.js"></script>
